@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
.logo-text{
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 45px;
	padding-left: 10px;
}
.input_search {
    border: none;
    background: #007bff;
    color: white;
    font-size: 20px;
    line-height: 64px;
}
.search_content{
    cursor: pointer;
}
.search_content:hover {
    color: orange;
    font-weight: bold;
    transition: .5s;
}
.search{
	color: white;
}
.create{
	color: white;
	font-size: 20px;
	line-height: 65px;
}
.acount{
	color: white;
	font-size: 20px;
	text-decoration: none !important;
	padding-right: 30px;
	position: relative;
	cursor: pointer;

}
.acount:hover{
	color: purple;
}
.logo-acount {
    width: 60px;
    height: 55px;
    border-radius: 50%;
    background: white;
}
ul.acount-dropdown a {
    color: black;
}

ul.acount-dropdown {
    list-style: none;
    background: white;
    width: 180px;
    position: absolute;
    left: 10px;
    box-shadow: 1px 0px 4px 1px #ddd;
    top: 78px;
    display: none;
    transition: 1s;

}
ul.acount-dropdown:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: white;
    top: -20px;
    right: 0;
}
.show{
	display: block !important;
}
/*end header*/
/*content*/
.content {
    background: #53bfb636;
    height: 800px;
}
.table-content{
    background: white;
    margin-top:45px;
}
.title-content-text{
    font-family: 'Exo 2', sans-serif;
    color: orange;
    font-size: 45px;
}
.title-content {
    text-align: center;
   
}
.vocabulary {
    font-size: 30px;
    font-weight: 500;
}

p.total-vocabulary {
    color: red;
}
.create{
    cursor: pointer;
    transition: 0.5s;
}
.create:hover{
    color: orange;
    font-weight: bold;
}
/*box*/
form#formName input {
    width: 100%;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid;
}
label.error{
    color: red !important;
}
/*log out,setting*/
.set{
    position: relative;
    z-index: 10;
}
ul.acount-dropdown>li {
    margin-left: -30px;
}

ul.acount-dropdown li a i {
    padding-right: 20px;
}
/**/
.acount-dropdown>li a{
    text-decoration: none;
}
#setting:hover #set_rotage{
    color: red;
    transform: scale(1.2);
    transition: .5s;
}
#setting:hover .text-icon{
    color:  #0000FF;
    font-weight: bold;
    transition: .5s;
}
/*end content*/
/*paginate*/
.pagination.pull-left{
    position: relative;
}
.pagination.pull-left>ul {
    list-style: none;
    position: absolute;
    right: 40%;
}

.pagination.pull-left ul li {
    display: inline-block;
}

.pagination.pull-left {
    width: 100%;
}
/*end paginate*/

/*reponsive*/
@media screen and (max-width: 1345px) {
    .col-md-2.logo {
    display: none;
    }
    .col-md-2.search {
    font-size: 12px;
    padding-top: 22px;
    }
    .create,.input_search{
    line-height: 0px;
    }
}
@media screen and (max-width: 767px) {
    .col-md-2.logo {
    display: block;
    }
}